.navigation-bar {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    height: 10vh;
    font-size: calc(10px + 2vmin);
    color: white;
  }